<form class="form-horizontal" action='/browse' method="GET">
<fieldset>
  <legend>Find an Article!</legend>
    <div class="control-group">
      <label class="control-label" for="tags">Tags</label>
      <div class="controls">
        <input type="text" class="input-xlarge" style="width:600px" id="tags" name="tags">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="level">Level</label>
      <div class="controls">
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn btn-primary">Beginner</button>
          <button class="btn btn-primary">Intermediate</button>
          <button class="btn btn-primary">Advanced</button>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Go</button>
      </div>
 </fieldset>
</form>