
  <form class="form-horizontal">
  <fieldset>
    <legend>Today I Read:</legend>
      <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:600px" id="url">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="tags">Tags</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:600px" id="tags">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="level">Level</label>
        <div class="controls">
          <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn btn-primary">Beginner</button>
            <button class="btn btn-primary">Intermediate</button>
            <button class="btn btn-primary">Advanced</button>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Post your article!</button>
          <button class="btn">Never mind</button>
        </div>
   </fieldset>
  </form>
  

