<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">LevelUp</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <h1>Today I read:</h1><br>
  <div style="float:left;width:120px;margin-right:20px;margin-left:60px;">
    <h2 style="margin-bottom:30px">URL</h2>
    <h2 style="margin-bottom:30px">Tags</h2>
    <h2 style="margin-bottom:30px">Level</h2>
  </div>

  <div > 
    <input style="width:600px;margin-bottom:45px" type="text" value="" id="url" name="url">
    <input style="width:600px;margin-bottom:30px" type="text" value="" id="tags" name="tags"> 
  </div>
  
<!--
  <footer>
    <p>&copy; Chinmay 2012</p>
  </footer>
-->

</div> <!-- /container --> 
