  <form class="form-horizontal">
  <fieldset>
    <legend>Today I Read:</legend>
      <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:600px" id="url">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="tags">Tags</label>
        <div class="controls">
          <input type="text" class="input-xlarge" style="width:600px" id="tags">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="level">Level</label>
        <div class="controls">
          <div class="btn-group">
            <button class="btn">Beginner</button>
            <button class="btn">Intermediate</button>
            <button class="btn">Advanced</button>
          </div>
        </div>
   </fieldset>
  </form>
  
<!--
  <footer>
    <p>&copy; Chinmay 2012</p>
  </footer>
-->


